# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

uploads
__pycache__
DashyBuilder.Backend/components/__pycache__/routes.cpython-310.pyc
DashyBuilder.Backend/promptEngineering/suggestionComponentPromptNew.txt
